*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.color-white {
    color: white;
}

button {
    all: unset;
}
/*header*/

header {
    background-color: rgb(0, 132, 253);
    position: fixed;
    z-index: 3;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header, .row, .col, .content {
    width: 100%;
}

/*.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/
#logo {
    float: left;
    display: block;
    padding: 20px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

#header-btn {
    font-size: 15px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    border-radius: 15px;
}

header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

header .menu-icon {
    position: relative;
    float: right;
    margin: 40px 0;
    cursor: pointer;
}

header .menu-icon .nav-icon {
    background-color: white;
    display: block;
    position: relative;
    height: 2px;
    width: 18px;
    transition: background .2s ease-out;
}

header .menu-icon .nav-icon:before {
    background-color: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2 ease-out;
    top: 5px;
}

header .menu-icon .nav-icon:after {
    background-color: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2 ease-out;
    top: -5px;
}

header .menu-btn {
    display:none
}

header .menu-btn:checked ~ .menu {
    max-height: 360px;
}
/*main*/



/*footer*/